<!DOCTYPE HTML>
  <html lang="pt-br">
	  <head>
	  	<meta charset="UTF-8">
	   	<link rel="stylesheet" type="text/css" href="estilo.css">
	   	<title> Cadastro de usuarios</title>
   </head>
   <body>
   <div class = "container">
       <form action ='/add_cadastro' method ='post'>
       <h1>Cadastra aqui! <br>
       <input type ="text" name="email" placeholder ='email'><br>
       <input type ="text" name="nome" placeholder ='nome'><br>
       <input type ="text" name="ra" placeholder ='ra'><br>
       <input type ='password' name='password' placeholder ='password'><br>
       <button type ='submit'> <i>Submit</i> </button>
     </form>
   </div>
  </body>
 </html>